.btn{
    border-radius: 10px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.25rem;
    &.fullWidth{
        width: 100%;
    }
    &:focus{
        outline: none;
        box-shadow: none;
    }
}

.button{
    &__primary{
        color: $WHITE;
        background-color: $COLOR_PRIMARY;
        &:hover {
            color: $WHITE;
        }
    }
    &__text {
        font-weight: 400;
    }
}