*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $FONT_PRIMARY;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: $COLOR_PRIMARY;
    &:hover{
        color: inherit;
    }
}

html { 
    height: 100%;
}

body{
    background-color: $BODY_BG;
    color: $BODY_TEXT;
    height: 100%;
}

.uppercase{
    text-transform: uppercase;
}

.bg{
    &__black{
        color: $WHITE;
        background-color: $BLACK;
    }
    &__image{
        background-color: $BLACK;
        color: $WHITE;
        background: url(../images/background.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        &.wallet {
            background: unset;
            img {
                width: 100%;
            }
        }
    }
}

.overflow-hidden{
    overflow: hidden;
}