@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


h3 {
    font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 { 
    color: $COLOR_PRIMARY;
    font-weight: 700;
}

p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 8px;
}

.weight {
    &--light {
        font-weight: 400;
    }
    &--bold {
        font-weight: 500;
    }
    &--bolder {
        font-weight: 800;
    }
}

.muted {
    opacity: .7;
}

.color{
    &--black {
        color: $BLACK;
    }
    &--primary {
        color: $COLOR_PRIMARY;
    }
    &--white {
        color: $WHITE;
    }
    &--grey {
        color: $GREY;
    }
}