@font-face {
    font-family: 'autorregular';
    src: url('autor-regular-webfont.woff2') format('woff2'),
         url('autor-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body { font-family: 'autorregular'; background-color: #3d4349 }

p { font-family: 'autorregular', Arial, sans-serif; color: #ffffff}
h3 { font-family: 'autorregular', Arial, sans-serif; color: #ffffff}
a { font-family: 'autorregular', Arial, sans-serif; color: #ffffff}

div.d1 {
  width:500px;
  margin: auto;
  align-content: center;
}

