@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css);
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #1A1A1A;
}

a:hover {
  color: inherit;
}

html {
  height: 100%;
}

body {
  background-color: #000000;
  color: #FFFFFF;
  height: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.bg__black {
  color: #FFFFFF;
  background-color: #000000;
}

.bg__image {
  background-color: #000000;
  color: #FFFFFF;
  background: url(../images/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg__image.wallet {
  background: unset;
}

.bg__image.wallet img {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

h3 {
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #1A1A1A;
  font-weight: 700;
}

p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 8px;
}

.weight--light {
  font-weight: 400;
}

.weight--bold {
  font-weight: 500;
}

.weight--bolder {
  font-weight: 800;
}

.muted {
  opacity: .7;
}

.color--black {
  color: #000000;
}

.color--primary {
  color: #1A1A1A;
}

.color--white {
  color: #FFFFFF;
}

.color--grey {
  color: #91969A;
}

.btn {
  border-radius: 10px;
  font-weight: bold;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 1.25rem;
}

.btn.fullWidth {
  width: 100%;
}

.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button__primary {
  color: #FFFFFF;
  background-color: #1A1A1A;
}

.button__primary:hover {
  color: #FFFFFF;
}

.button__text {
  font-weight: 400;
}

.paper {
  width: 100%;
  border-radius: 30px 30px 0 0;
  background-color: #FFFFFF;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 20px;
}

.paper.center {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.connect {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 20px;
  padding-bottom: 40px;
}

@media screen and (min-width: 991px) {
  section.connect {
    padding-bottom: 80px;
  }
}

section.connect .icon {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  aspect-ratio: 1 / 1;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
  overflow: hidden;
  padding: 10px;
}

section.connect .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 991px) {
  section.connect .icon {
    top: 40%;
    padding: 150px;
  }
}

section.connect .content {
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

section.paper-layout {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.paper-layout .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #FFFFFF;
  padding: 20px 0;
}

section.paper-layout .content .image {
  width: 100%;
  height: 100%;
  position: relative;
}

section.paper-layout .content .image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
