<ul class="nav nav-tabs">
    <li ng-class="{active: path[3] == 'certification-authorities-scep'}" data-ng-show="access.viewRealm"><a href="#/realms/{{realm.realm}}/authentication/certification-authorities-scep">{{:: 'scep' | translate}}</a></li>
    <li ng-class="{active: path[3] == 'certification-authorities-windows-ca'}" data-ng-show="access.viewRealm"><a href="#/realms/{{realm.realm}}/authentication/certification-authorities-windows-ca">{{:: 'windows-ca' | translate}}</a></li>
</ul>