:root {
  font-family: 'system-ui', "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5em;
}

#wa-box {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 120px;
  margin-bottom: 50px;  
  /* background-image: url('https://crayonic.io/crayonic.png'); */
  background-position: center center;
  background-repeat: repeat-x repeat-y;
  background-size: 10%;
}

#register-button,
#authenticate-button {
  display: none;
  margin: auto;  
  margin-top: 20px;
  --button-color: rgba(71, 138, 201, 0.62);  
}

#delete-button {
  display: none;
  --button-color: rgba(255, 0, 0, 0.62);
  margin: auto;  
  margin-top: 20px;
}

#loader {
  display: none;
  margin-left: 20px;
  animation: rotation 1s infinite linear;
}

#demo-buttons {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#auth-dialog {
  --dialog-height: 200px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
