 .u-section-1 {
  background-image: url("images/gradient_1_crayonic_small_edited_edited-10.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 742px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 52px auto 0 99px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  width: 803px;
  margin: -60px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 33px 99px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: normal;
  margin: 67px auto 60px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 49px;
    margin-left: 69px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -57px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 34px;
    margin-left: 69px;
    margin-right: 69px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -331px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
    margin-top: 323px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 154px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -494px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 872px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 120px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -516px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1039px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -359px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 351px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 151px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -798px;
  }
}