section.connect { 
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    padding-bottom: 40px;
    @media screen and (min-width: 991px) {
        padding-bottom: 80px;
    }
    .icon{ 
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        aspect-ratio: 1 / 1;
        min-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
        overflow: hidden;
        padding: 10px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        @media screen and (min-width: 991px) {
            top: 40%;
            padding: 150px;
        }
    }
    .content{
        width: 100%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}