section.paper-layout { 
    width: 100%;
    height: 100%;
    max-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    
    .content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        flex: 1;
        color: $WHITE;
        padding: 20px 0;
        .image {
            width: 100%;
            height: 100%;
            position: relative;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}