.paper{
    width: 100%;
    border-radius: 30px 30px 0 0;
    background-color: $WHITE;
    color: $BLACK;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;

    &.center {
        text-align: center;
        align-items: center;
    }
}