<head>
    <script src="/auth/js/keycloak.js"></script>
    <script>
        function updateElem(id, msg) {
            elem = document.getElementById(id);
            elem.innerHTML = elem.innerHTML + ' | ' + msg;
        }
    
        var keycloak = new Keycloak({
            // // url: 'https://crayonic.io/auth',
            // url: '/auth',
            // realm: 'gateway',
            clientId: 'gateway-www',
            "realm": "gateway",
            "auth-server-url": "https://test.crayonic.io/auth/",
            "ssl-required": "external",
            "public-client": true,
            "confidential-port": 0
        });

        keycloak.onReady = (authenticated) => updateElem('on_ready', `authenticated: ${authenticated}`);
        keycloak.onAuthSuccess = () => updateElem('on_auth_success', 'auth success');
        keycloak.onAuthError = () => updateElem('on_auth_error', 'auth error');
        keycloak.onAuthRefreshSuccess = () => updateElem('on_auth_refresh_success', 'auth refresh success');
        keycloak.onAuthRefreshError = () => updateElem('on_auth_refresh_error', 'auth refresh error');
        keycloak.onAuthLogout = () => updateElem('on_auth_logout', 'auth logout');
        keycloak.onTokenExpired = () => updateElem('on_token_expired', 'token expired');
        

        // keycloak.init({
        //     onLoad: 'check-sso',
        //     silentCheckSsoRedirectUri: '/silent-check-sso.html',
        //     enableLogging: true
            keycloak.init({onLoad: 'login-required'                 
        }).then(function(authenticated) {
            updateElem('auth', authenticated ? 'authenticated' : 'not authenticated');
        }).catch(function(err) {
            updateElem('init_exception', `error: ${err}`);
        });
    </script>
</head>
<body>
    <p><b>Authentication status:</b> <span id="auth"></span></p>
    <p><b>Init exception:</b> <span id="init_exception"></span></p>
    <p><b>On ready:</b> <span id="on_ready"></span></p>
    <p><b>On auth success:</b> <span id="on_auth_success"></span></p>
    <p><b>On auth error:</b> <span id="on_auth_error"></span></p>
    <p><b>On auth refresh success:</b> <span id="on_auth_refresh_success"></span></p>
    <p><b>On auth refresh error:</b> <span id="on_auth_refresh_error"></span></p>
    <p><b>On auth logout:</b> <span id="on_auth_logout"></span></p>
    <p><b>On token expired:</b> <span id="on_token_expired"></span></p>
</body>
</html>