@font-face {
  font-family: 'autorregular';
  src: url('autor-regular-webfont.woff2') format('woff2'),
       url('autor-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  /* width: 35em; */
  margin: 3 auto;
  font-family: 'autorregular'; 
  background-color: #ffffff        
}

h1 {
  font-family: 'autorregular', Arial, sans-serif; font-size: x-large;
}

p {
   font-family: 'autorregular', Arial, sans-serif; font-size: medium;
}

textarea {
  font-size: small;
}

table {
  width: 100%;
  padding-top: "5";
  border: 1px solid black;
  /* border-collapse: collapse;   */
}

th {
  font-family: 'autorregular', Arial, sans-serif; font-size: small; font-weight: bold;
}

td {
  font-family: 'autorregular', Arial, sans-serif; font-size: small; font-weight: normal;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #06c;
  width: 200px;
  height: 40px;
  border-radius: 30px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fffff3;
  background-size: 100% 100%;
  box-shadow: 0 0 0 5px #06c inset;
  margin-bottom: 15px;
}
