 .u-section-1 {
  background-image: url("images/gradient_1_crayonic_small_edited_edited.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 749px;
}

.u-section-1 .u-image-1 {
  width: 90px;
  height: 58px;
  margin: 15px auto 0 16px;
}

.u-section-1 .u-text-1 {
  margin: -29px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1052px;
  margin: 44px auto 60px;
}

.u-section-1 .u-repeater-1 {
  min-height: 507px;
  grid-auto-columns: calc(50% - 73.5px);
  grid-template-columns: calc(50% - 73.5px) calc(50% - 73.5px);
  grid-gap: 147px 147px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-text-2 {
  margin: 16px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  margin: 18px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-4 {
  margin: 16px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 0 auto;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  margin: 18px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-6 {
  margin: 16px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 0 auto;
}

.u-section-1 .u-btn-3 {
  text-transform: uppercase;
  margin: 18px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-text-8 {
  margin: 16px auto 0;
}

.u-section-1 .u-text-9 {
  margin: 0 auto;
}

.u-section-1 .u-btn-4 {
  text-transform: uppercase;
  margin: 18px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 123px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -208px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-bottom: 47px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 453px;
    grid-template-columns: repeat(2, calc(50% - 73.5px));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -805px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 1011px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -1096px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 733px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -818px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 84px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 967px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 12px;
  }
}