@font-face {
    font-family: 'autorthin';
    src: url('autor-thin-webfont.woff2') format('woff2'),
         url('autor-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'autorregular';
    src: url('autor-regular-webfont.woff2') format('woff2'),
         url('autor-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'autorextrabold';
    src: url('autor-extrabold-webfont.woff2') format('woff2'),
         url('autor-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gunny_rewrittenregular';
    src: url('gunnyrewritten-webfont.woff2') format('woff2'),
         url('gunnyrewritten-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* grey:
body { font-family: 'autorthin'; background-color: #3d4349 }
*/

body { font-family: 'autorthin'; background-color: #ffffff }

p { font-family: 'autorthin', Arial, sans-serif; font-size: 20px}
div.d1 {
  width:500px;
  margin: auto;
  align-content: center;
}
