<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
    <h1>{{:: 'certification-authorities' | translate}}</h1>

    <kc-tabs-certification-authorities></kc-tabs-certification-authorities>

    <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageRealm">
        <fieldset>
            <legend><span class="text">{{:: 'Connection Settings' | translate}}</span></legend>
            <div class="form-group clearfix block">
                <label class="col-md-2 control-label" for="certificationAuthoritiesScepEnabled">{{:: 'enabled' | translate}}</label>
                <div class="col-md-6">
                    <input name="enabled" id="certificationAuthoritiesScepEnabled" ng-model="realm.attributes.certificationAuthoritiesScepEnabled" onoffswitchvalue on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}" />
                </div>
                <kc-tooltip>{{:: 'Use this connection for certificate signing' | translate}}</kc-tooltip>
            </div>
            
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="certificationAuthoritiesScepConnectionUri"><span class="required">*</span> {{:: 'connection-url' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" id="certificationAuthoritiesScepConnectionUri" type="text" ng-model="realm.attributes.certificationAuthoritiesScepConnectionUri" placeholder="{{:: 'http://your-domain/certsrv/mscep/mscep.dll'}}" required>
                </div>
                <!-- <kc-tooltip>{{:: 'SCEP connection URI tooltip' | translate}}</kc-tooltip> -->
                <!-- <div class="col-sm-4" data-ng-show="access.manageRealm">
                    <a class="btn btn-primary" data-ng-click="testConnection()">{{:: 'test-connection' | translate}}</a>
                </div> -->
            </div>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="certificationAuthoritiesScepCsrSharedPassword"><span class="required">*</span> {{:: 'CSR Shared Password' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" id="certificationAuthoritiesScepCsrSharedPassword" kc-password ng-model="realm.attributes.certificationAuthoritiesScepCsrSharedPassword" placeholder="{{:: 'CSR Shared password' | translate}}" data-ng-required="instance.config['authType'][0] != 'none'">
                </div>
                <!-- <kc-tooltip>{{:: 'CSR Shared Password tooltip' | translate}}</kc-tooltip> -->
                <!-- <div class="col-sm-4" data-ng-show="access.manageRealm">
                    <a class="btn btn-primary" data-ng-click="testAuthentication()">{{:: 'test-authentication' | translate}}</a>
                </div> -->
            </div>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="certificationAuthoritiesScepDomain"><span class="required">*</span> {{:: 'SCEP Domain' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" id="certificationAuthoritiesScepDomain" type="text" ng-model="realm.attributes.certificationAuthoritiesScepDomain" placeholder="{{:: 'domain.example.com' | translate}}" data-ng-required="instance.config['authType'][0] != 'none'">
                </div>
                <!-- <kc-tooltip>{{:: 'SCEP Domain tooltip' | translate}}</kc-tooltip> -->
                <!-- <div class="col-sm-4" data-ng-show="access.manageRealm">
                    <a class="btn btn-primary" data-ng-click="testAuthentication()">{{:: 'test-authentication' | translate}}</a>
                </div> -->
            </div>



        </fieldset>

        <fieldset>
            <legend id="advancedLdapSettingsHeader" collapsed><span class="text">{{:: 'SCEP to PIV Certificate Mappings' | translate}}</span></legend>
            
            <div class="form-group">
                <label class="col-md-2 control-label" for="certificationAuthoritiesScepEncryptionPivSlot">{{:: 'Encryption' | translate}}</label>
                <div class="col-md-6">
                    <div>
                        <select class="form-control" id="certificationAuthoritiesScepEncryptionPivSlot"
                                ng-model="realm.attributes.certificationAuthoritiesScepEncryptionPivSlot">
                            <option value="">Disabled enrollment</option>
                            <option value="9a">Authentication (9a)</option>
                            <option value="9d">Key Management (9d)</option>
                            <option value="9c">Digital Signature (9c)</option>
                        </select>
                    </div>
                </div>
                <!-- <kc-tooltip>{{:: 'Map SCEP tooltip' | translate}}</kc-tooltip> -->
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="certificationAuthoritiesScepSignaturePivSlot">{{:: 'Signature' | translate}}</label>
                <div class="col-md-6">
                    <div>
                        <select class="form-control" id="certificationAuthoritiesScepSignaturePivSlot"
                                ng-model="realm.attributes.certificationAuthoritiesScepSignaturePivSlot">
                            <option value="">Disabled enrollment</option>
                            <option value="9a">Authentication (9a)</option>
                            <option value="9d">Key Management (9d)</option>
                            <option value="9c">Digital Signature (9c)</option>
                        </select>
                    </div>
                </div>
                <!-- <kc-tooltip>{{:: 'Map SCEP tooltip' | translate}}</kc-tooltip> -->
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="certificationAuthoritiesScepSignatureEncryptionPivSlot">{{:: 'Signature + Encryption' | translate}}</label>
                <div class="col-md-6">
                    <div>
                        <select class="form-control" id="certificationAuthoritiesScepSignatureEncryptionPivSlot"
                                ng-model="realm.attributes.certificationAuthoritiesScepSignatureEncryptionPivSlot">
                            <option value="">Disabled enrollment</option>
                            <option value="9a">Authentication (9a)</option>
                            <option value="9d">Key Management (9d)</option>
                            <option value="9c">Digital Signature (9c)</option>
                        </select>
                    </div>
                </div>
                <!-- <kc-tooltip>{{:: 'Map SCEP tooltip' | translate}}</kc-tooltip> -->
            </div>
        </fieldset>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2" data-ng-show="!create && access.manageRealm">
                <button kc-save  data-ng-disabled="!changed">{{:: 'save' | translate}}</button>
                <button kc-reset data-ng-disabled="!changed">{{:: 'cancel' | translate}}</button>
                <!-- <button class="btn btn-primary" data-ng-click="triggerCheckConnection()" data-ng-hide="changed">{{:: 'S' | translate}}</button> -->
            </div>
        </div>
    </form>
</div>

<kc-menu></kc-menu>
